<div>
	{{id}} - {{burger_name}}

{{#if eaten}}
	<button class="change-eat" data-id="{{id}}" data-newEat="{{eaten}}">
		EAT ME
	</button>
{{/if}}

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</div>