<div>
	{{id}} - {{burger_name}}

	<button class="change-eat" data-id="{{id}}" data-newEat="{{eaten}}">
		{{#if eaten}}EAT ME{{/if}}
	</button>

	{{!-- <button class="delete-burger" data-id="{{this.id}}">DELETE!</button> --}}
</div>